<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tablets techR</title>
  </head>
  <body>
    <div class="p-4 w-full bg-zinc-900">
      <h1 class="text-5xl text-center text-white m-4">Tablet List</h1>
      <div
        class="flex items-center justify-evenly gap-8 flex-wrap h-full w-full"
      >
        <% tablets.forEach(function(tablet) { %>
        <div
          class="w-72 h-96 overflow-hidden flex items-center justify-center flex-col gap-2"
        >
          <img
            src="<%= tablet.image %>"
            alt="<%= tablet.name %>"
            class="object-cover object-center h-64 w-full border-2 rounded-xl"
          />
          <h1 class="text-white text-2xl text-center"><%= tablet.name %></h1>
          <a href="modify/<%= tablet.id %>"
            ><button class="text-white text-2xl bg-orange-600 rounded-xl p-2">
              <h1>Modify</h1>
            </button></a
          >
        </div>
        <% }); %>
      </div>
    </div>
  </body>
  <script src="https://cdn.tailwindcss.com"></script>
</html>
