@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: #001;
  background-color: #dcdcde;
}

.hidescroller::-webkit-scrollbar {
  display: none;
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: currentColor;
  width: 0;
  transition: width 0.2s ease-in-out;
  color: #fff;
}

.underline-animation:hover::after {
  width: 100%;
}

.underline-animations {
  position: relative;
  display: inline-block;
}

.underline-animations::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: currentColor;
  width: 0;
  transition: width 0.2s ease-in-out;
  color: #001;
}

.underline-animations:hover::after {
  width: 100%;
}

.stroke {
  color: transparent;
  text-shadow: 10px -10px 20px purple, -10px 10px 10px red;
  -webkit-text-stroke: 2px black;
}

.stroke:hover {
  -webkit-text-stroke: none;
  text-shadow: 10px -10px 20px red, -10px 10px 10px purple;
  color: red;
}

#heading {
  position: relative;
  z-index: 1;
}

#heading::before {
  content: "Welcome to TechR";
  position: absolute;
  left: -4px;
  top: -4px;
  color: rgba(32, 178, 171, 0.788);
  -webkit-text-stroke: 1px #e89a19;
  z-index: -1;
  white-space: nowrap;
}
